.hero {
  min-height: 85vh;
  background: linear-gradient(180deg, #121212 0%, #1c1c1c 100%); /* degradado oscuro */
  /* Si quieres solo negro sólido: background-color: #121212; */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
}

.hero h1 {
  color: #ffffff;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.hero p {
  color: #eaeaea;
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
}

.section-title {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.section-title:hover {
  opacity: 0.7;
}
section {
  scroll-margin-top: 0px;
}

