.section {
    padding: 5rem 2rem;
  }
  
  .section-light {
    background: var(--color-white);
  }
  
  .section-dark {
    background: #eceae6;
  }
  
  .section-title {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .section-content {
    max-width: 1000px;
    margin: 0 auto;
  }
  